#header{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
#search {
  border-radius: 0px 4px 4px 0;
  border: none;
  border-left: 1px solid black;
  height: 35px;
  width: 40px;
  font-size: 20px;
  color: black;
}

#text {
  border-radius: 4px 0px 0px 4px;
  height: 35px;
  border: 1px solid black;
  border-radius: 4px 0px 0px 4px;
}
#navbarDropdown {
  color: black;
}
.line {
  height: 35px;
  border-left: 2px solid #ccc;
  margin: 0 20px;
}
.log {
  display: flex;
}
#header a {
  text-decoration: none;
  color: yellow;
  margin-top: 5px;
}
.dropdown-toggle {
  border: none;
  background-color: yellow;
  margin-top: 5px;
}

.dropdown ul{
  background-color: rgba(0, 0, 0, 0.7);
}