#background-image-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../pictures/trangchu.png");
  background-size: cover; /*không giới hạn*/
  background-position: center;
  height: 700px;
  color: white;
  font-size: large;
}
#register {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#register input:not([type="radio"]) {
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 50%;
  padding: 10px;
}
#register #register i {
  font-size: 20px;
}
#register .icon {
  padding-top: 10px;
  height: 50px;
  
}
#register .logo {
  height: auto;
  width: 120px;
  margin-bottom: 10px;
}
#register .wel {
  display: inline-block;
  margin-top: 15px;
}
#register b {
  font-size: 25px;
  margin-right: -20px;
}
#register form {
  border: 1px solid gray;
}
#register .bor {
  border: 1px solid gray;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  height: 80px;
  width: 135px;
  cursor: pointer;
}

#register button {
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 300px;
  padding: 10px;
  background-color: yellow;
  
}
#register button:hover {
  transition: 0.3s;
}
#register button:active{
    transform: scale(0.95);
}
#register a {
  text-decoration: none;
  color: yellow;
}
#register a:hover {
  color: greenyellow;
}
#register .tb {
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
  visibility: hidden;
}

.eye-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}